nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    border-bottom: 1px solid #fff;
}
nav .logo {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-family: cursive;
}
nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li a {
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul li a:hover {
    background: rgba(0,0,0,0.7);
    border-radius: 6px;
}
section {
     width: 100%;
     height: 70vh;
     background: url(file:///C:/Users/jamie/OneDrive/Documents/Web_developmet/Images/titleist.jpg);
     background-size: cover;
     background-position: center;
                
}
 
body {
    background: #ccc;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.wrapper {
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125)
}
.wrapper .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #4CAF50;
    text-transform: uppercase;
    text-align: center;
}
.wrapper .form {
    width: 100%;
}
.wrapper .form .input_field {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}
.wrapper .form .input_field label {
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 18px;
}
#phone {
     width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.wrapper .form .input_field .custom_select {
    position: relative;
    width: 100%;
    height: 37px;
}
.wrapper .form .input_field .custom_select select {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #d5dbd9;
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    border-radius: 3px;
    outline: none;
}
button {
    background-color: #4CAF50;
      border: none;
      color: white;
      padding: 12px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 4px;
}
footer {
    text-align: center;
    background-color: black;
    color: white;
    height: 70px;
    padding-top: 50px;
}
a:link {
    text-decoration: none;
    color: #C53D3A;
}